<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
      integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="css/index.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
    <!-- <div class="container">  
      <div class="button-container">
        <button class="asset-button" onclick="functionname()">Assets</button>
        <button class="unasset-button">Unassigned Assets</button>
      </div> -->
       
      <nav class="navbar navbar-light nav-heading">
        <div class="container-fluid d-flex flex-direction-row justify-content-center">
          <h1 class="navbar-brand">Inventory Mangement System</h1>
        </div>
      </nav>
      
<form>
      <table class="table table-sm m-5 container-sm table-striped caption-top" id="assets-table" > 
        <div class="d-flex flex-direction-row justify-content-end m-3">
          <a href="http://localhost:8000/api/assets" class="btn btn-outline-secondary m-5">Unassigned <i class="fa-solid fa-angles-right"></i></a>

        </div>
        
        <caption class="caption text-center">
          Assets
        </caption>
        <thead class="table-dark">
          
          <tr>
            <th scope="col">S.NO.</th>
            <th scope="col">Name</th>
            <th scope="col">Assets</th>
            <th scope="col">UpDated Date</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <% for (var i = 0; i < users.length;  i++) { %>
            <tr>
          <td><%= i + 1 %></td>
          <td><%= users[i].name %></td>
          <td><%= users[i].createdAt %></td>
          <td><%= users[i].updatedAt %></td>
          <td>
            <a href="/#" class="btn border-shadow update">
                <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
            </a>
            <a class="btn border-shadow delete" >
              <span class="text-gradient"><i class="fas fa-times"></i></span>
          </a> 
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </form>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
