.navbar{
    /* position: fixed; */
    background-color: #faec4b;
    /* overflow: hidden; */
    width: 100%;

}
.logo{
    width:100px;
    height: 80px;
}
.ims-heading{
    font-size: 35px;
}

.caption{
    font-size: 35px;
    color: black;
}
.table{
    text-align: center;
}
.UnassignedBtn{
    margin-bottom: 10px;
    margin-right: 60px;

    /* padding-top: 10px; */
}
.request-button{
    /* width: 200px; */
    height: 200px;
    background-color: maroon;
    color: white;
    /* padding: 15px; */
    text-decoration: none;
    border-radius: 2px;

}
.inputField{
    width: 420px;
    padding: 15px;
}
.text-gradient{
    background: linear-gradient(to right, #8e2de2, #4a00e0);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.descriptionField{
    padding: 50px;
}
.modelField{
    padding: 20px;
}
.clickbtn{
    width: 300px;
    height: 200px;
}
.UnassignedButton{
    width: 350px;
}
.alert{
    font-size: 18;
    font-weight: bold;
}
.requesForm{
    text-align: center;
}
.passwordField{
    width: 250px;
}
.inputPassword{
    font-size: 18;
    font-weight: 500;
}
.historyList{
    width: 400px;
    border-width: 5px;
    border-color: #8e2de2;
    background-color: pink;
    margin: 5px;
}
.assetBtn{
    width: 150px;
    border-radius: 5px;
    padding: 5px;
    border-color: grey;
    border-width: 1px;
    color: grey;

}
.assetBtn:hover{ 
    background-color: #6F7378;
    color: white;
       
}
.anchorBtn{
    text-decoration: none;
    /* color: grey;
    width: 150px; */
}

/* .anchorBtn:hover {
    color: white;
  } */
.history{
    margin: 10px auto;
}
.historyContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: center; */
    /* align-items: center; */
    /* background-color: pink; */
}
.historyList{
   
    padding: 15px;
    /* width: auto; */
    background-color: #ABB0B8;
    border-radius: 5px;
    list-style-type: none;
}
.sideHeading{
    color: black;
    font-weight: bold;
}
.goBack{
    margin-left: 55px;
    
    /* background-color: #faec4b; */
    height: 120px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.aboutBtn{
    font-size: 30;
}
.tooltip{
    font-size: 30px !important;
 }
 












/* .heading{
    color: brown;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:80%
}
.button-container{
    width:500px;
    height: 600px;
    background-color:pink;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    border-radius: 15px;
}

.asset-button{
    padding: 20px;
    margin: 20px;
    width: 160px;
    height: 90px;
    border-width: 0px;
    border-radius: 15px;
    background-color: aqua;
    font-size: 20px;
}
.unasset-button{
    background-color: skyblue;   
    padding: 20px;
    margin: 20px;
    width: 160px;
    border-width: 0px;
    border-radius: 15px; 
    font-size: 18px;
} */
